requests
html2text
pyobjc
selenium
dotenv
python-dotenv 
langchain 
openai 
pypdf 
pymupdf
unstructured
python-libmagic
langchain_community
tiktoken
langchain-openai
langchain_google_vertexai
boto3
functools
chromadb
gitpython
pytest
pytest-mock