requests
html2text
pyobjc
selenium
python-dotenv 
langchain 
openai 
pypdf 
pymupdf
unstructured
langchain_community
tiktoken
langchain-openai
langchain_google_vertexai
boto3
chromadb
gitpython
pytest
pytest-mock
langchainhub
chainlit
fastapi